
body {
    background: url('/assets/images/blank_page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.case {
    text-align: center;
}
.case-title {
    font-family: 'DeadSecretary';
}
.case-date {
    font-family: 'Fell';
}
.case-author {
    font-family: 'Fell';
    font-size: small;
}
.case-intro {
    font-family: 'Phyllis';
    padding: 5%;
    text-align: justify;
}
.actions {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Fell';
}
.lead-search {
    font-family: 'Fell';
}
.searchbox {
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.searchbox:focus {
    border: 2px solid black;
}
.search-button {
    background-color: transparent;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.skip-navigation {
    display: none;
}