@font-face {
    font-family: 'DeadSecretary';
    src: url('#{$asset_url}/fonts/Dead\ Secretary.ttf');
}
@font-face {
    font-family: 'Fell';
    src: url('#{$asset_url}/fonts/IM\ Fell\ English\ Roman\ Caps\ FeENsc2.ttf');
}
@font-face {
    font-family: 'Phyllis';
    src: url('#{$asset_url}/fonts/Phyllis\ ATT\ Italic.ttf');
}