---
layout: default
---
<style>
    @font-face {
        font-family: 'DeadSecretary';
        src: url('/assets/fonts/Dead\ Secretary.ttf');
    }
    @font-face {
        font-family: 'Fell';
        src: url('/assets/fonts/IM\ Fell\ English\ Roman\ Caps\ FeENsc2.ttf');
    }
    @font-face {
        font-family: 'Phyllis';
        src: url('/assets/fonts/Phyllis\ ATT\ Italic.ttf');
    }
</style>
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | absolute_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script>
    function goTo() {
        const input = document.getElementById("lead_input").value
        window.location = `/cases/{{ page.case_name }}/${input}.html`
    }
</script>
<div class="header">
    <a href="/" class="home-link">
        <i class="fa fa-house"></i>
    </a>
</div> 
<div class="case">
    <h1 class="case-title">{{page.title}}</h1>
    <h2 class="case-date">{{page.case_date}}</h2>
    <h6 class="case-author">{{page.author}}</h6>
    <div class="divided"></div>
    <br>
    <article class="case-intro">{{content}}</article> 
    {% unless page.type == "solution" %} 
        <div class="lead-search">
            <label>Go to...</label>
            <input type="text" id="lead_input" class="searchbox" placeholder="Address..." autocomplete="off">
            <button type="button" class="search-button" onclick="goTo()">
                <i class="fa fa-magnifying-glass"></i>
            </button>
        </div>
        <br>
        <div class="actions">
            <a class="action-link" target="_blank" href="/assets/images/{{page.case_name}}/newspaper.jpg">
                Newspaper
            </a>
            <a class="action-link" target="_blank" href="/assets/images/london_map.jpg">
                London Map
            </a>
            <a class="action-link">London Directory</a>
            <a class="action-link" href="questions">Solve!</a>
        </div>
    {% endunless %}
</div>
